---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/global.css';
const pageTitle = "About";
const identity = {
  firstName: "Masahiro",
  country: "Japan",
  occupation: "Software Engineer",
  hobbies: ["Reading books", "Hotspring", "Baseball"],
};
const skills = ["Ruby", "React", "PHP", "Python", "Java", "Astro", "Writing Docs"];
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {identity.hobbies.length >= 2 && 
      <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    } 
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
